@charset "utf-8";
/* 폰트 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.14;
  letter-spacing: 0px;
  /* 줄바꿈 할때 단어를 기준으로 설정 
   break-all: 줄바꿈 하지 않는다.
    */
  word-break: break-all;
  height: 2000px;
  background-color: lightslategray;
  
}
/* 공통영역 */
.container{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: lightgrey; */
    /* height: 200px; */
}
/* 모달창 */
/* top버튼 */
/* 전체 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(255, 255, 255); */
  z-index: 999;
  overflow: hidden;
  transition: all 0.5s;
}
.header:hover{
    height: calc(330px + 80px);
}
.header::before{
    content: "";
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    top: 0;
    left: 0;
}
.header::after{
    content: "";
    width: 100%;
    height: 330px;
    position: absolute;
    top: 81px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.header-inner{
    width: 100%;
    max-width: 1800px;
    height: 80px;
    margin: auto;
    position: relative;
    z-index: 1;
}
/* 로고 */
.logo{
    width: 220px;
    height: 100%;
    float: left;
    padding-top: 20px;
}
/* 네비게이션 */
.nav{
    width:calc(100% - 220px - 150px) ;
    float: left;
}
.gnb{
    width: calc(178px * 6);
    margin: 0 auto;
    
}
.gnb > li{
    width: 178px;
    float: left;

}
.gnb > li > a{
  
font-size: 19px;
font-weight: 500;
/* height: 80px; */
line-height: 80px;
}
/* 서브메뉴 depth2 */
.depth2{
    padding: 40px 0;
}
.depth2>li>a{
    color: #fff;
    font-size: 15px;
    line-height: 1.92;
}
/* 언어 */
.lang{
    position: relative;
    width: 150px;
    height: 100%;
    float: right;
}
.lang-list{
position: absolute;
top: 20px;
left:23px;

}
.lang-list li{
   float: left; 
   padding: 10px;
   position: relative;
}
.lang-list li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #888;
}
.lang-list li:last-child a{
    color: #333;
}
.lang-list li::after{
    content: "";
    width: 1px;
    height: 11px;
    background-color: #999;
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
}
.lang-list li:first-child::after{
    content: none;
}
/* 비주얼 */
.visual{
    position: relative;
    margin-top: 80px;
    /* top: 80px; */
    display: block;
    width: 100%;
    height: 910px;
    /* background-color: lightgray; */
    background: url("../images/img_visual01.png")no-repeat center fixed;
    background-size: cover;
}
.visual-inner{
    height: 100%;
    padding-top: 1px;
    position: relative;
}
.visual-slogan{
    display: block;
    position: relative;
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    margin-top: 245px;
}
.visual-slogan::before{
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    width: 60px;
    height: 5px;
    background-color: red;
}
.visual-txt{
    position: relative;
    display: block;
    margin-top: 42px;
    color: #fff;
    font-size: 21px;
}
.visual-bt{
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 33px;
    height: 33px;
    font-size: 0;
    transform: translateX(-50%);
    background: url("../images/bg_common.png") no-repeat;
    background-position: -122px 0;
    border:0;
    cursor: pointer;
}
/* 비즈니스 영역 */


/* .business{
    width: 100%;
    position: relative;
    display: block;
    background-color: #fff;
}
.business-inner{
    height: 100%;
    padding-top: 1px;
    position: relative;
}
.business-maintext{
    font-size: 44px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 100px 0 22px;
}
.business-text{
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 25px 0 50px 
}
.business-list{
    width: 100%;
    height: ;
    
    padding-bottom: 100px;
}
.business-area{
    width: 100%;
    height: 420px;
    background-color: lightcoral;
}
.business-area > li{
    width: calc(100% / 5);
    height: 100%;
    float: left;
}
.business-area1{
    background: url(../images/img_business.png) no-repeat;
}
.business-area2{
    background: url(../images/img_business.png) no-repeat;
    background-position: -240px 0;
}
.business-area3{
    background: url(../images/img_business.png)no-repeat;
    background-position: -480px 0;
}
.business-area4{
    background: url(../images/img_business.png)no-repeat;
    background-position: -720px 0;
}
.business-area5{
    background: url(../images/img_business.png)no-repeat;
    background-position: -960px 0;
}
.business-area > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.business-area > li > a >p{
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 25px;
} */

.business{
    position: relative;
    display: block;
    width: 100%;
    padding: 100px 0;
    background-color: #f8f8f8;
}
.business-inner{
    position: relative;
    display: block;
}
/* 비즈니스 상단 */
.business-top{
    margin-bottom: 70px;
    text-align: center;
}
.business-title{
    position: relative;
    display: block;
    font-size: 40px;
    color: #111;
    font-weight: bold;
    padding-bottom: 31px;
}
.business-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 37px;
    height: 4px;
    background-color: red;
}
.business-desc{
    margin-top: 30px;
}
/* 비즈니스 하단 */
.business-bottom, .business-list{
    position: relative;
    display: block;
    width: 100%;
}
.business-list li{
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 5);
    height: 420px;
    text-align: center;
    background: url("../images/img_business.png")no-repeat;
}
.business-list li:nth-child(1){
    background-position: calc(240px * 0) 0;
}
.business-list li:nth-child(2){
    background-position: calc(240px * -1) 0;
}
.business-list li:nth-child(3){
    background-position: -480px 0;
}
.business-list li:nth-child(4){
    background-position: -720px 0;
}
.business-list li:nth-child(5){
    background-position: -960px 0;
}
.business-list li a{
    color: #fff;
    font-size: 25px;
    display: block;
    /* line-height: 240px; */
    padding: 100px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244,128,37,0);
    transition: all 0.3s;
}
/* 비즈니스 리스트 호버 */
.business-list li a:hover{
    background-color: rgba(244,128,37,1);
}
.business-list li a::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 90px;
    background: url("../images/bg_common.png")no-repeat;
    background-position: 0 0;
    width: 130px;
    height: 112px;
    opacity: 0;
    transition: all 0.3s;
}
.business-list li:nth-child(1) a::after{
    background-position: -160px 0;
}
.business-list li:nth-child(2) a::after{
    background-position: -300px 0;
}
.business-list li:nth-child(3) a::after{
    background-position: 0px -120px;
}
.business-list li:nth-child(4) a::after{
    background-position: -140px -120px;
}
.business-list li:nth-child(5) a::after{
    left: 53%;
    bottom: 80px;
    background-position: -275px -115px;
}
.business-list li a:hover::after{
    opacity: 1;
}